#container_forgot{

    display: flex;
  flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content:center; */
    align-items: center;
}
#forgot-list{
    display: flex;
    flex-direction: column;
    width: 24rem;
    background-color: rgba(64, 6, 117, 0.479);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    

}
h1{
    color: rgb(255, 255, 255) !important;

}
input{
    height: 2rem;
    border-radius: 0.5rem;
}
button{
    height: max-content;
    background-color:rgb(255, 255, 255) !important;
    color:rgb(66, 4, 78);
    border: none;
    font-size:xx-large;
    border-radius: 0.7rem;
}
button:hover{
    transform: scale(1.05);
    background-color: rgb(112, 50, 128);
    border: 1px solid white;

}
button:active{
    background-color:rgb(74, 12, 90) !important;
    color: white;
}