.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo-container .photo-prev {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 16rem;
  }
  .photo-container .photo-prev .preview {
    margin-top: -0.5rem;
    position: relative;
  }
  .photo-container .photo-prev .preview img {
    margin-top: 0.5rem;
    width: 12rem;
    height: 11rem;
    border-radius: 1.5rem 0 1.5rem 0;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0px 0px 5px 0px #8a8a8a;
    border: 5px solid #fff;
  }
  .photo-container .photo-prev .preview:hover {
    transform: scale(1.2);
  }
  .photo-container .photo-prev .preview:hover .clear-image {
    opacity: 1;
    transform: none;
  }
  .photo-container .photo-prev .preview .clear-image {
    position: absolute;
    right: -1rem;
    top: 0.5rem;
    opacity: 0;
    width: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ababab;
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
    border: 4px solid #ababab;
    transition: none;
  }
  .photo-container .photo-prev .preview .clear-image:hover {
    transform: none;
  }
  .photo-container .photo-prev span {
    padding-top: 0.5rem;
    text-align: center;
  }
  .photo-container .photo-prev .material-symbols-outlined {
    margin-top: -1rem;
    font-size: 15rem;
    font-weight: 200;
    color: #9e9e9e;
    cursor: pointer;
    transition: all 1s ease;
  }
  .photo-container .photo-prev .material-symbols-outlined:hover {
    transform: scale(1.2);
  }
  .photo-container .photo-prev .image_text {
    position: absolute;
    bottom: 0;
  }
  .photo-container .photo-prev .stop {
    cursor: pointer;
  }
  .photo-container .photo-prev .stop:hover {
    color: #0d6efd;
  }
  .photo-container .photo-prev .loading {
    position: absolute;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #b6b6b6;
    border-bottom: 12px solid #b6b6b6;
    width: 8rem;
    height: 8rem;
    -webkit-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
    cursor: pointer;
  }
  
  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
