#container_reset{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 100%;
    width: 100%;

}
#resetpassword{
    display: flex;
    flex-direction: column;
    width: 24rem;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid rgb(58, 4, 83);
    border-radius: 1rem;
    background-color: rgba(137, 43, 226, 0.363);
}
button{
    width: 100%;
    height: max-content;
    background-color:rgb(255, 255, 255) !important;
    color:rgb(66, 4, 78);
    border: none;
    font-size:xx-large;
    border-radius: 0.7rem;
}
button:hover{
    /* transform: scale(1.05); */
    background-color: rgb(112, 50, 128);
    border: 1px solid white;

}
button:active{
    transform: scale(0.99);
    background-color:rgb(74, 12, 90) !important;
    color: white;
}
label{
    width: 100%;
    text-align: left;
    color: white;
}
input{
    width: 100%;
    color: black;
    border-radius: 0.7rem;
    height: 2rem;
}
